<div class="commentContainer">
  <div class="comment">
    <div class="vote">
      <button class="upvote">+</button>
      <h2 class="voteNumber">{{ comment.score }}</h2>
      <button class="downvote">_</button>
    </div>

    <div class="header">
      <img [src]="'../../../assets' + comment.user.image.png" class="avatar" />
      <h1>{{ comment.user.username }}</h1>

      <h3>{{ comment.createdAt }}</h3>
      <button
        *ngIf="comment.user.username !== currentUser.username; else curUser"
        class="reply"
      >
        Reply
      </button>
      <p class="commentText">
        {{ comment.content }}
      </p>
    </div>
  </div>
  <ng-container *ngIf="comment.replies.length">
    <div
      class="commentContainer replyComment"
      *ngFor="let comment of comment.replies"
    >
      <app-comment [comment]="comment"></app-comment>
    </div>
  </ng-container>
</div>
<ng-template #curUser>
  <button class="edit">Edit</button>
  <button class="delete">Delete</button>
</ng-template>
